HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore Terraform plan output
*.tfplan

# Ignore variable definition files (if they contain secrets)
*.tfvars
*.tfvars.json

# Ignore .terraform directory (Terraform working dir)
.terraform/
.terraform.lock.hcl

# Optional: ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
